proposal/main.aux
proposal/main.bbl
proposal/main.blg
proposal/main.log
proposal/main.out
proposal/main.toc
proposal/main.fdb_latexmk
proposal/main.fls
proposal/main.synctex.gz
proposal/main.xdb
.venv/*
data/iu_xray/*
*.pyc
experiments/results/checkpoints/*
